# set PATH so it includes user's private bin if it exists
LOCAL_BIN="${HOME}/.local/bin"
if [ -d "${LOCAL_BIN}" ]; then
    PATH="${LOCAL_BIN}:${PATH}"
fi

if [ -f "${HOME}/.bash_aliases" ]; then
    source ${HOME}/.bash_aliases
fi

if [ -f "${HOME}/.bash_functions" ]; then
    source ${HOME}/.bash_functions
fi

PERSONAL_RC_DIR=$( dirname -- "$( readlink -f -- "$BASH_SOURCE"; )"; )
PERSONAL_RC_SCRIPT=$( basename -- "$( readlink -f -- "$BASH_SOURCE"; )"; )
PERSONAL_RC="${PERSONAL_RC_DIR}/${PERSONAL_RC_SCRIPT}"

alias ls='ls -F --color=tty'
alias ll='ls -alH'

# RC change reloading
alias vimrc='vim ${PERSONAL_RC}'
alias reload='source ~/.bashrc'

# Prompt stuff
parse_git_branch() {
    git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's|* \(.*\)|[\1]|'
}
export PROMPT_DIRTRIM=3
PS1='\[\e[0;96m\]\u: \[\e[0;93m\]\w \[\e[0;92m\]$(parse_git_branch)\n\[\e[0m\]$ '

# Create .inputrc if it doesn't exists
if [ ! -f "$HOME/.inputrc" ]; then
  cat << EOF > ~/.inputrc
# Ignore case while completing
set completion-ignore-case on
EOF
fi

# Create .hushlogin file if it doesn't exist
if [ ! -f "$HOME/.hushlogin" ]; then
  touch $HOME/.hushlogin
fi

[ -f /usr/local/etc/bash_completion ] && . /usr/local/etc/bash_completion || {
    # if not found in /usr/local/etc, try the brew --prefix location
    [ -f "$(brew --prefix)/etc/bash_completion.d/git-completion.bash" ] && \
        . $(brew --prefix)/etc/bash_completion.d/git-completion.bash
}

# Android/Flock Set up
export GROOVY_HOME=/opt/homebrew/opt/groovy/libexec
jdk 17
ANDROID_HOME="/Users/matt.bernstein/Library/Android/sdk"
export PATH="${PATH}:${ANDROID_HOME}:${ANDROID_HOME}/cmdline-tools/latest/bin:${ANDROID_HOME}/platform-tools"

# Set up pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="${PATH}:${PYENV_ROOT}/shims"
if which pyenv > /dev/null; then eval "$(pyenv init -)"; fi

# Add Code to path on MacOS
export PATH="${PATH}:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"